.responsive-nav .nav-list {
      display: flex;
      list-style: none;
    }
    
    @media (max-width: 600px) {
      .responsive-nav .nav-list {
        display: none;
      }
    
      .responsive-nav .menu-toggle {
        display: block;
      }
    }
        
    body {
      background-color: darkolivegreen;
    }

     p {
      color: lightgrey;
    }
    
    h1{
      color: black;
    }

     li {
      color: lightgrey;
    }

    .responsive-image {
      max-width: 75%;
      height: auto;
    }