        
    body {
      background-color: olivedrab;
    }

     p {
      color: black;
    }
    
    h1{
      color: black;
    }

     li {
      color: black;
    }

    .responsive-image {
      max-width: 75%;
      height: auto;
    }

    .transition-button {
        background-color: darkolivegreen;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      
    .transition-button:hover {
        background-color: green;
      }

    .content-box {
        padding: 20px;
        margin: 10px;
        background-color: lightgray;
        border: 2px solid Black;
      }    